<style type="text/css">
    strong{
        line-height: 38px;
    }
</style>
<img  width="250px" src="{{113669307__COL$O}}">
<h1>Personal data: </h1>
<strong>Name :</strong>  {{113669307__COL$G}}<br/>

<strong>Age :</strong>{{113669307__COL$H}}<br/><br/>

<strong>Phone :</strong>{{113669307__COL$I}}<br/><br/>

<strong>Email :</strong> {{113669307__COL$J}}<br/><br/>

<strong>Job :</strong> {{113669307__COL$K}}<br/><br/>

<strong>Monthly income :</strong> {{113669307__COL$L}}<br/><br/>

<strong>National Id :</strong> {{113669307__COL$M}}<br/><br/>
<strong>Gender :</strong>{{113669307__COL$N}}<br/> <br/>

<strong>Skin Color  :</strong> {{113669307__COL$P}}<br/><br/>
<strong>Weight  :</strong> {{113669307__COL$Q}}<br/><br/>
<strong>Eyes Color  :</strong> {{113669307__COL$R}}<br/><br/>



<strong>Height  :</strong> {{113669307__COL$S}}<br/><br/>

<strong>Smoke  :</strong> {{113669307__COL$AA}}<br/><br/>

<strong>Drink  :</strong> {{113669307__COL$AB}}<br/><br/>

<strong>Top Priorities :</strong>
{{113669307__COL$AB}}<br/><br/>

<strong>Top 5 values in a relationship :</strong> {{113669307__COL$W}}<br/><br/>

<strong>Career Position :</strong> {{113669307__COL$X}}<br/><br/>

<strong>Social  status :</strong>{{113669307__COL$Y}}<br/><br/>

<strong>How do you perceive your mindset:</strong>{{113669307__COL$Z}}<br/><br/>

<strong>Preferences in your partner:</strong>{{113669307__COL$AB}}<br/><br/>

<strong>Favorite weight in a partner:</strong>{{113669307__COL$AC}}
<br/><br/>

<strong>Favorite height in a partner:</strong>
{{113669307__COL$X}}<br/><br/>

<strong>Preferred age  in a partner:</strong>
{{113669307__COL$Y}}<br/><br/>

<strong>Are you looking for Different interest or same interest in your partner:</strong>{{113669307__COL$AF}}<br/><br/>

<strong>What type of life Partner do you like :</strong>{{113669307__COL$AG}}<br/><br/>

<strong>What is your preferred income in a partner:</strong>{{113669307__COL$AH}}<br/><br/>

<strong>What is the most important character in your partner:</strong>{{113669307__COL$AI}}<br/><br/><br/><br/>

<h3>Other data: <h3>
    {{112476997__output}}
    {{113669307__COL$Q}}