<section class="our-listing  pb30-991">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="breadcrumb_content style2 mb0-991">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active text-thm" aria-current="page">United World Team</li>
                    </ol>
                    <h2 class="breadcrumb_title">Co Founders</h2>
                </div>
            </div>
            <div class="col-lg-6"></div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="feat_property home7 agent">
                            <div class="thumb"><img class="img-whp" src="https://uwestate.com/upload/media/team/ahmad.jpg" alt="ahmad.jpg" />
                                <div class="thmb_cntnt"></div>
                            </div>
                            <div class="details">
                                <div class="tc_content">
                                    <h4>Ahmet HAFIZ</h4>
                                    <p class="text-thm team-info">Founder</p>
                                    <ul class="prop_details team-info">
                                        <li><a href="mailto:info@uwestate.com">Email:  info@uwestate.com</a></li>
                                    </ul>
                                </div>
                                <div class="fp_footer">
                                    <ul class="fp_meta float-left mb0">
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-google"></i></a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="feat_property home7 agent">
                            <div class="thumb"><img class="img-whp" src="https://uwestate.com/upload/media/team/fadi.jpg" alt="ahmad.jpg" />
                                <div class="thmb_cntnt"></div>
                            </div>
                            <div class="details">
                                <div class="tc_content">
                                    <h4>Fadi ALAZEM</h4>
                                    <p class="text-thm team-info">Founder</p>
                                    <ul class="prop_details team-info">
                                        <li><a href="mailto:info@uwestate.com">Email:  info@uwestate.com</a></li>
                                    </ul>
                                </div>
                                <div class="fp_footer">
                                    <ul class="fp_meta float-left mb0">
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-google"></i></a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="feat_property home7 agent">
                            <div class="thumb"><img class="img-whp" src="https://uwestate.com/upload/media/team/ismail.jpg" alt="ahmad.jpg" />
                                <div class="thmb_cntnt"></div>
                            </div>
                            <div class="details">
                                <div class="tc_content">
                                    <h4>Isamil Saraçoğlu</h4>
                                    <p class="text-thm team-info">Founder</p>
                                    <ul class="prop_details team-info">
                                        <li><a href="mailto:info@uwestate.com">Email:  info@uwestate.com</a></li>
                                    </ul>
                                </div>
                                <div class="fp_footer">
                                    <ul class="fp_meta float-left mb0">
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-google"></i></a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
