<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="termssandcondition"></div>
<div class="termssandcondition">
    <h1 class="generall"><b>الشروط والأحكام العامة</b></h1>
    <p><span style="font-weight: 400;">مرحبًا بكم في AMUSEDCO! يتمثل هدفنا في تعزيز علاقة ثقة مع عملائنا الكرام، وهذا هو السبب في أن أحكامنا وشروطنا واضحة قدر الإمكان. للحصول على أي توضيح أو لمزيد من المعلومات، يُرجى التواصل معنا عبر hello@amusedco.com</span>
    </p>
    <p><span style="font-weight: 400;"> يجب على جميع المستخدمين قراءة جميع الشروط والأحكام العامة بعناية، لأنها تؤثر على حقوقهم والتزاماتهم، والتأكد من فهمهم لها قبل استخدام الموقع.</span>
    </p>
    <p><span style="font-weight: 400;">إن الغرض من الشروط والأحكام العامة هو تحديد الشروط والأحكام التي يجب أن توفر AMUSEDCO بموجبها وصولاً مباشرًا إلى الموقع والسماح للمستخدمين بتصفحه، وتزويد المستخدمين بالخدمات التي تسمح لهم ببيع أو شراء المنتجات من وإلى بعضهم البعض، ووضع قائمة منتجاتها للبيع مباشرة للمستخدمين.</span>
    </p>
    <p><span style="font-weight: 400;"> سيوافق المستخدمون على الشروط والأحكام العامة بمجرد تصفحهم للموقع بما في ذلك عند إنشاء الحساب، وبغض النظر عما إذا كانوا سيقومون بإتمام أي معاملات من خلال الموقع أم لا. إذا كان المستخدم لا يرغب في الالتزام بالشروط والأحكام العامة، فلا يجب عليه الوصول إلى أي منتجات أو تسجيلها أو استخدامها أو إدراجها في قائمة، أو إجراء أي طلبات مع AMUSEDCO.</span>
    </p>
    <p><span style="font-weight: 400;"> تخضع شروط هذه الخدمة للشروط والأحكام عند قبولها من جميع المستخدمين الجدد واعتبارًا من 1 مايو 2020 للمستخدمين الحاليين.</span>
    </p>
    <p><span style="font-weight: 400;">باستخدام موقعنا وتطبيقنا وخدماتنا، فإنك تؤكد أنك إما تبلغ من العمر 18 عامًا على الأقل أو أنك تقوم بالدخول إلى الموقع وخدماته تحت إشراف أحد الوالدين أو الوصي القانوني.</span>
    </p>
    <p><span style="font-weight: 400;">إذا تم اعتبار أي من هذه الشروط باطلاً أو لاغيًا أو غير قابل للتنفيذ لأي سبب من الأسباب، يتفق الطرفان على اجتماع رسمي بهدف التأثير على نوايا الأطراف على النحو المبين في الشروط، ويعتبر الشرط غير القابل للتنفيذ قابلاً للفصل، ولا يجوز أن يؤثر ذلك على صلاحية وإنفاذ أي شرط متبقي.</span>
    </p>
    <p><span style="font-weight: 400;">قد تقدم AMUSEDCO عروضًا ترويجية خاصة، والتي قد تنطبق أو لا تنطبق على حساب المستخدم الخاص بك. أنت توافق على الالتزام بأي شروط وأحكام إضافية لهذه العروض الخاصة. ستحكم قوانين المملكة العربية السعودية هذه الشروط والأحكام، كما ستحكم العلاقة بينك وبين AMUSEDCO.</span>
    </p>
    <p><span style="font-weight: 400;">لا تضمن AMUSEDCO أنها ستتخذ إجراء ضد جميع انتهاكات هذه الشروط والأحكام. باستثناء ما هو منصوص عليه صراحةً هنا، لن يكون هناك مستفيدون من جهات خارجية لهذه الشروط. تشكل هذه الشروط الاتفاقية الكاملة بينك وبين AMUSEDCO وتحكم استخدامك للموقع، وتحل محل أي اتفاقيات سابقة بينك وبين AMUSEDCO فيما يتعلق بالموقع.</span>
    </p>
    <p><b class="countryy">مقر الشركة<br></b>إن AMUSEDCO وموقعها الإلكتروني مملوكين وممثلين لشركة ثمرات الجيل، سجل تجاري
        رقم 4030336610، يقع مكتبها المسجل ومكان عملها في المبنى رقم 2444، طه خيفان، حي الشاطئ جدة </p>
    <p>
        <b class="countryy">القوانين والاختصاص القضائي<br></b>تخضع هذه الشروط والأحكام المذكورة هنا وتفسر وفقًا لقانون
        المملكة العربية السعودية.</p>
    <p><b class="countryy">حماية البيانات/ سياسة الخصوصية/ ملفات تعريف الارتباط</b> في ضوء غرض وطريقة تشغيل الموقع
        الإلكتروني www.amusedco.com ("الموقع")، يجوز له جمع ومعالجة بعض البيانات الشخصية لمستخدميه، في إطار قوانين
        المملكة العربية السعودية.</p>
    <p><span style="font-weight: 400;">يتمثل الغرض من سياسة الخصوصية هذه في شرح كيفية وسبب جمع البيانات ومعالجتها والحقوق التي يحتفظ بها الأشخاص (أعضاء المجتمع الذين يستخدمون الموقع الإلكتروني، المشار إليهم فيما بعد بـ "أنت") بموجب الأنظمة والقوانين المذكورة أعلاه. سياسة الخصوصية هذه تكمل شروط وأحكام الموقع. كما يجوز تعديلها في أي وقت.

</span>
    </p>
    <p><span style="font-weight: 400;">يتم جمع البيانات الشخصية ومعالجتها بواسطة AMUSEDCO، ويمثلها رئيسها التنفيذي والمؤسسون المشاركون، بصفتهم مراقبين للبيانات.</span>
    </p>
    <p><span style="font-weight: 400;">عندما تتصفح الموقع الإلكتروني وتستخدم الخدمات التي يقدمها، تقوم AMUSEDCO بجمع ومعالجة بعض المعلومات التي يمكن اعتبارها بيانات شخصية بالمعنى المقصود في قوانين المملكة العربية السعودية، بما في ذلك البيانات التالية: عنوان البريد الإلكتروني، المسمى الوظيفي، الاسم الأول واسم العائلة، البلد، كلمة المرور، صورة الملف الشخصي، العناوين البريدية، رقم (أرقام) الهاتف، عنوان IP، بيانات الاتصال والتصفح، سجل الطلبات، المدفوعات، المستحقات، الوقائع، المعلومات المتعلقة بالتسليم، والمراسلات على موقعها الإلكتروني. يتم إبلاغك </span>
    </p>
    <p><span style="font-weight: 400;">بموجب هذا بإلزامية البيانات التي سيتم توفيرها للتجميع. يتم جمع بيانات معينة تلقائيًا من خلال إجراءاتك على الموقع (راجع القسم الخاص بملفات تعريف الارتباط).

</span>
    </p>
    <p><span style="font-weight: 400;">كما هو موضح سابقًا، نقوم بجمع المعلومات المذكورة أعلاه بالتحديد عند قيامك بما يلي:</span>
    </p>
    <ul>
        <li style="font-weight: 400;"><span
                style="font-weight: 400;">•إنشاء ملف تعريف العميل الخاص بك على الموقع.</span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">شراء أو بيع منتج على الموقع</span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">•تصفح الموقع وإلقاء نظرة على المنتجات.</span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">المشاركة في مسابقة.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">•الاتصال بقسم خدمة العملاء.</span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">قبول تثبيت بعض ملفات تعريف الارتباط.</span>
        </li>
    </ul>
    <p><span style="font-weight: 400;">يمكن مشاركة كل أو جزء من البيانات التي تم جمعها مع الجهات التالية:</span></p>
    <p><span style="font-weight: 400;">(i) الإدارات الداخلية لـ AMUSEDCO، عند الحاجة إلى معرفتها.</span></p>
    <p><span
            style="font-weight: 400;">(ii) الشركاء الآخرون لمجموعة ثمرات الجيل، لا سيما في حالة المدفوعات الدولية.</span>
    </p>
    <p><span style="font-weight: 400;">(iii)منصات الإعلان وشركاء العمل.</span></p>
    <p><span style="font-weight: 400;">(iv) مقدمو الخدمة لدينا، والذين يشملون:</span></p>
    <ol>
        <li><span style="font-weight: 400;">a) مقدمو خدمات التسليم والمدفوعات.</span></li>
        <li><span style="font-weight: 400;">b)  مقدمو خدمات إدارة علاقات العملاء.</span></li>
        <li><span style="font-weight: 400;">c) مقدمو خدمات التحقق من صحة المنتجات.</span></li>
        <li><span style="font-weight: 400;">d) مقدمو خدمات تكنولوجيا المعلومات.</span></li>
    </ol>
    <p><span style="font-weight: 400;">(v) الأطراف الثالثة التي -في نطاق عملية الاندماج والاستحواذ- تحتاج إلى وصول مباشر أو غير مباشر لبيانات معينة.</span>
    </p>
    <p><span
            style="font-weight: 400;">(vi)البائعون، إذا تم إرسال العناصر التي تشتريها إليك مباشرة من قِبلهم.</span>
    </p>
    <p><span style="font-weight: 400;">(vii)المشترون، لتمكينهم -عند الحاجة لذلك- من إعادة المنتجات التي اشتروها من البائعين مُباشرة إليهم.</span>
    </p>
    <p><span style="font-weight: 400;">يتمثل الغرض الأساسي من جمع البيانات الشخصية في أن نقدم لك تجربة تصفح آمنة ومثالية وفعالة ومخصصة. أنت توافق على أنه يجوز لنا استخدام بياناتك الشخصية من أجل:
    <ul class="useraccounts">
        <li style="font-weight: 400;"><span style="font-weight: 400;">إدارة حسابات المستخدمين (الاشتراك، إلغاء الاشتراك، الاستبعاد، وما إلى ذلك).</span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">إدارة المنتجات المباعة وضمان مراقبة الجودة على وجه التحديد.</span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">•إتمام عمليات الطلب.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">إدارة علاقات وإمكانات عملائنا (بما في ذلك عملاؤنا من كبار الشخصيات).</span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;"> التعرف عليك بشكل أفضل (احتياجاتك واهتماماتك وما إلى ذلك) لتطوير وتحسين وتزويدك بالخدمات التي تتوقعها.</span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">حل أي مشاكل أو مطالبات</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">إنشاء الإحصائيات وإجراء الدراسات الاستقصائية بهدف تخصيص وتقييم وتحسين خدماتنا ومحتوياتنا.</span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">	إبلاغك بخدماتنا وخدمات شركائنا من الشركات، من خلال التسويق الهادف و/ أو العروض الترويجية، بعد الحصول على موافقتك</span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">	منع واكتشاف والتحقيق في أي أنشطة يحتمل أن تكون ممنوعة وغير قانونية، وفرض شروطنا العامة الخاصة بالبيع والاستخدام.</span>
        </li>
        <li style="font-weight: 400;"><span
                style="font-weight: 400;">	الامتثال لالتزاماتنا القانونية والتنظيمية</span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">	نقلها إلى مستقبلي البيانات</span>
        </li>
    </ul>
    <p><b class="countryy">ملفات تعريف الارتباط:<br></b>ملف تعريف الارتباط هو ملف نصي صغير (بتنسيق .txt) يحتوي على سلسلة
        من الأحرف. يتم إرسال ملفات تعريف الارتباط بواسطة خادم الموقع الإلكتروني الذي تتصفحه، ويتم تخزينها على القرص
        الصلب لجهاز الحاسوب أو التابلت أو الهاتف الذكي الخاص بك. بشكل عام، يحتوي ملف تعريف الارتباط على بعض البيانات
        المعرّفة بشكل مباشر أو غير مباشر مثل اسم الخادم الذي يتم إرساله من خلاله، ومُعرّف الجلسة، وتاريخ انتهاء
        الصلاحية، وربما معلومات حول تصفحك للموقع الإلكتروني المعني مثل الصفحات التي يتم تصفحها على سبيل المثال. لا يتم
        استخدام ملف تعريف الارتباط لجمع البيانات الشخصية دون علمك، بل لتسجيل المعلومات المتعلقة بتصفحك على الموقع
        الإلكتروني، والتي يمكن قراءتها مباشرةً بواسطة AMUSEDCO أثناء عمليات البحث اللاحقة على الموقع (مثل الصفحات التي
        قمت بالدخول إليها أو تاريخ ووقت الدخول).</p>
    <p><span style="font-weight: 400;">قد تكون ملفات تعريف الارتباط تقنية وضرورية تمامًا، لا سيما للتعرف عليك عند عودتك إلى الموقع الإلكتروني بعد مغادرته، أو لإنشاء اتصال آمن للشراء عبر الإنترنت. يمكن أيضًا استخدام ملفات تعريف الارتباط لإنشاء إحصائيات وتقييمات الجمهور والأداء، فضلاً عن استهداف الإعلانات من أجل إرسال إعلانات تتماشى مع ذوقك وتقييمها من خلال عادات تصفح الإنترنت الخاصة بك. يستخدم الموقع ملفات تعريف الارتباط المختلفة.</span>
    </p>
    <p><span style="font-weight: 400;">عند الاتصال بالموقع الإلكتروني لأول مرة، يتم عرض لافتة لإبلاغك بملفات تعريف الارتباط ولمنحك إمكانية قبول أو رفض ملفات تعريف الارتباط المتعلقة بما يلي:</span>
    </p>
    <p><span style="font-weight: 400;">(i) عرض المحتوى المخصص.</span></p>
    <p><span style="font-weight: 400;">(ii) الإعلان المستهدف الموجّهة.</span></p>
    <p><span style="font-weight: 400;">(iii) الإحصاءات</span></p>
    <p><span style="font-weight: 400;">بمجرد تهيئة الإعدادات، يتم تسجيلها بدورها في ملف تعريف ارتباط وتخزينها. إذا كنت ترغب في تعديل هذه الإعدادات لاحقًا، يجب عليك مسح ذاكرة التخزين المؤقت في متصفحك حتى يتم عرض اللافتة مرة أخرى.</span>
    </p>
    <p><span style="font-weight: 400;">تمكننا ملفات تعريف الارتباط التي نستخدمها على الموقع من:</span></p>
    <ul class="useraccounts">
        <li style="font-weight: 400;"><span style="font-weight: 400;">عمل إحصائيات ومعرفة حجم حركة المرور على صفحات الموقع.</span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">	تسهيل عملية التواصل.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">تزويد المستخدمين بالخدمات المطلوبة</span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">	التعرف على المستخدمين من أجل الزيارات المستقبلية.</span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">	تكييف عرض الموقع الإلكتروني الخاص بنا ومساحاتنا الإعلانية مع تفضيلات العرض الخاصة بالمستخدمين في (اللغة ونظام التشغيل وما إلى ذلك).</span>
        </li>

        <li style="font-weight: 400;"><span style="font-weight: 400;">•تقديم إعلانات موجهة للمستخدمين.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">	مكافحة الاحتيال على الإنترنت.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;"> تأمين مدفوعات المستخدمين على الموقع. قد تتم مشاركة بعض معلومات التصفح التي تم جمعها عبر ملفات تعريف الارتباط مع شركائنا في العمل.</span>
        </li>
    </ul>
    <p><span style="font-weight: 400;">تقتصر فترة تخزين البيانات التي يتم جمعها عبر ملفات تعريف الارتباط الخاصة بنا والتي تتطلب الحصول على موافقة على 12 شهرًا.</span>
    </p>
    <p><span style="font-weight: 400;">إذا قمت بالنقر فوق لافتات أو روابط إعلانية، ستنتقل إلى مواقع إلكترونية تابعة لجهات خارجية تعلن على موقع AMUSEDCO. أو إذا نظرت إلى إعلاناتها، فقد يتم استخدام ملفات تعريف الارتباط من قِبل الشركات التي تنشر هذه الإعلانات. هذه الجهات الخارجية التي تستخدم ملفات تعريف الارتباط في إطار خدمات AMUSEDCO (الشركاء أو المعلنون أو الجهات الخارجية الأخرى التي تقدم محتوى أو خدمات على الموقع الإلكتروني) تكون مسؤولة عن ملفات تعريف الارتباط التي تستخدمها وسياسة ملفات تعريف الارتباط الخاصة بهم التي يتم تطبيقها. لا تتحمل AMUSEDCO أي مسؤولية بشأن الاستخدام المحتمل لملفات تعريف الارتباط من قبل هذه الجهات الأخرى. لمزيد من المعلومات، ننصحك بالاطلاع على سياسة ملفات تعريف الارتباط مباشرة على الموقع الإلكتروني الخاص بهؤلاء المعلنين.</span>
    </p>
    <p><span style="font-weight: 400;"> كما تتعهد AMUSEDCO بالحفاظ على اكتمال السجلات ودقتها وتحديثها وتخزينها حول معالجة البيانات الشخصية في نطاق الموقع الإلكتروني. تتضمن هذه السجلات تفاصيل عمليات المعالجة المنفذة.</span>
    </p>
    <p><b class="countryy">تحديد الموقع الجغرافي<br></b>
        عندما تتصفح موقع AMUSEDCO الإلكتروني، يمكننا جمع معلومات عن مكان وجود جهازك. تتطلب خاصية تحديد الموقع الجغرافي
        الحصول على موافقة صريحة مُسبقة من المستخدم لتحديد موقعه الجغرافي. وللقيام بذلك -إذا أراد المستخدمون- يجب عليهم
        تفعيل خاصية تحديد الموقع الجغرافي مباشرة في إعدادات الهاتف المحمول الخاص بهم وتمكين التطبيق من استخدامها. يمكن
        تفعيل تلك الوظيفة أو إلغاء تفعيلها في أي وقت وبدون أي نفقات بناءً على نظام التشغيل الخاص بك.</p>
    <p><b class="countryy">البيانات المصرفية ونظام تحليل الأوامر (كشف الاحتيال)<br></b>
        من حيث المبدأ، لا يتم تخزين بياناتك المصرفية إلا أثناء الدفع. ومع ذلك وبناءً على موافقتك -والتي تتم من خلال
        تحديد مربع- قد يتم تخزينها بطريقة آمنة لتجنب الاضطرار إلى إدخال المعلومات مرة أخرى من أجل طلب لاحق، وبالتالي
        تسهيل عمليات الشراء في المستقبل. في هذه الحالة، سيتم تخزين البيانات حتى تسحب موافقتك و/ أو تنتهي صلاحية بطاقتك
        الائتمانية. يتمثل الغرض من المعالجة الآلية للبيانات في تمكين التحقق من الأشخاص الذين يدفعون من أجل طلب ومنع
        الاحتيال أثناء عملية الدفع. سيؤدي عدم إتمام الدفع بسبب الاستخدام الاحتيالي لبطاقات الائتمان إلى تسجيل معلومات
        الاتصال المتعلقة بطلبك -فيما يتعلق بعدم الدفع هذا- في ملف داخلي لواقعة الدفع وكذلك بواسطة مزودي الخدمة. كذلك قد
        يؤدي التصريح الكاذب أو ارتكاب خطأ إلى معالجة محددة (خاصة لأغراض الكشف عن الاحتيال).</p>
    <p>
        <b class="countryy">AMUSEDCO Buying & Selling Terms and Conditions<br></b>
        <span style="font-weight: 400;">يجب قراءة الشروط والأحكام المنصوص عليها أدناه ("الشروط والأحكام") بعناية قبل بيع العناصر المملوكة مُسبقًا من قِبل البائعين ("البائع (البائعين)") أو شراء العنصر (العناصر) من قبل المشترين ("المشتري (المشترين)") عبر حساب AMUSEDCO (AMUSEDCO). الشروط والأحكام التالية إلزامية مع عقد البيع/ الشراء لأنها تشكل الاتفاقية الكاملة بين الطرفين. تدخل AMUSEDCO في عقود منفصلة مع كل من المشتري و/ أو البائع.</span>
    </p>
    <p><b class="countryy">(A) البائعون</b></p>
    <p><b class="countryy">(1): وصف الخدمة</b></p>
    <ol class="country_respon">
        <li style="font-weight: 400;"><span style="font-weight: 400;">
            يتحمل البائعون مسؤولية اتباع الإجراءات التي وضعتها AMUSEDCO لتحميل معلومات العنصر (العناصر) عبر الإنترنت (من خلال النموذج الموجود في صفحة الحساب        </span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">
لا بد من إبلاغ AMUSEDCO بقبول أي عروض أسعار تقدمها AMUSEDCO للعنصر (العناصر) في غضون (14) يومًا من أجل تقديم عقد البيع الذي يجب توقيعه على النحو الواجب.        </span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">
</span>إذا تم بيع العنصر (العناصر)، سترسل AMUSEDCO المبلغ خلال (14) يوم عمل إلى البائع بعد خصم النفقات المحددة فيما بعد.
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">
	إذا لم يتم بيع العنصر (العناصر) خلال (60) يومًا من عرضه، فقد تقدم AMUSEDCO عروضًا خاصة على المنتج من أجل تعزيزه.        </span>
        </li>
    </ol>
    <p><b class="countryy">(2): تسليم العنصر<br></b></p>
    <ol>
        <li style="font-weight: 400;">
            <b></b><span style="font-weight: 400;">
	يتعين على البائع تسليم العنصر (العناصر) إلى عنوان AMUSEDCO (الذي سيتم توفيره لاحقًا)       </span>
            <span style="font-weight: 400;">في غضون 5 أيام عمل بمجرد توقيع العقد.  </span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">
            	قد تقوم AMUSEDCO بالترتيب لاستلام العنصر (العناصر) التي قد تكون خاضعة لتكلفة إضافية.</span>
        </li>
    </ol>
    <p><b class="countryy">(3) الدفع إلى AMUSEDCO<br></b></p>
    <ol class="country_respon">
        <li style="font-weight: 400;"><span style="font-weight: 400;">1.	الرسوم</span></li>
    </ol>
    <p><span style="font-weight: 400;">
إذا تم بيع العنصر (العناصر)، ستقوم AMUSEDCO بتحويل المبلغ إلى البائع في غضون (14 يوم عمل) بعد استلام المال من المشتري، إلى الحساب المصرفي المقدم من البائع بعد خصم نسبة مئوية من سعر البيع على النحو التالي:    </span>
    </p>
    <br>
    <div dir="" style="margin-right: 30.450000000000003pt;" align="left">
        <table style="border: none; border-collapse: collapse;">
            <colgroup>
                <col width="187">
                <col width="383">
            </colgroup>
            <tbody>
            <tr style="height: 0pt;">
                <td dir="ltr"
                    style="vertical-align: top; background-color: #d0cece; padding: 0pt 5.4pt 0pt 5.4pt; overflow: hidden; overflow-wrap: break-word; border: solid #000000 1pt;">
                    <p dir="" style="line-height: 1.2; text-align: right; margin-top: 0pt; margin-bottom: 0pt;"><b>رسوم
                        العمولة</b></p></td>
                <td dir="ltr"
                    style="vertical-align: top; padding: 0pt 5.4pt 0pt 5.4pt; overflow: hidden; overflow-wrap: break-word; border: solid #000000 1pt;">
                    <p dir="" style="line-height: 1.2; text-align: right; margin-top: 0pt; margin-bottom: 0pt;"><span
                            style="font-size: 12pt; font-family: 'Simplified Arabic'; color: #000000; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">35٪ للعناصر التي يقل سعرها عن 8 آلاف ريال سعودي + ضريبة القيمة المضافة.</span>
                    </p>
                    <p dir="" style="line-height: 1.2; text-align: right; margin-top: 0pt; margin-bottom: 0pt;"><span
                            style="font-size: 12pt; font-family: 'Simplified Arabic'; color: #000000; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">25٪ للعناصر التي يزيد سعرها عن 8 آلاف ريال سعودي + ضريبة القيمة المضافة.</span>
                    </p>
                    <p dir="" style="line-height: 1.2; text-align: right; margin-top: 0pt; margin-bottom: 0pt;">ضريبة
                        القيمة المضافة</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p style="text-align: right;">&nbsp;</p>
    <p style="text-align: right;">سيتحمل البائعون الذين يقررون سحب عناصرهم قبل 365 يومًا رسومًا قدرها 500 ريال قبل سحب
        العنصر. هذه الرسوم ستغطي تكاليف خدماتنا التسويقية والإدارية
    </p>
    <ol class="the_seller" style="text-align: right;">
        <li style="font-weight: 400;">
            <span style="font-weight: 400;">
                	يُعتبر البائع مقرًّا وموافقًا على إرشادات التسعير الخاصة بــ AMUSEDCO وتخفيض الأسعار من سعر التجزئة الموصى به ("RRP") بناءً على معايير السوق والمعايير الدولية:</span>
        </li>
    </ol>
    <div dir="" style="margin-right: -5.4pt;" align="left">
        <table style="border: none; border-collapse: collapse;">
            <colgroup>
                <col width="312">
                <col width="312">
            </colgroup>
            <tbody>
            <tr style="height: 0pt;">
                <td dir="ltr"
                    style="vertical-align: top; background-color: #d0cece; padding: 0pt 5.4pt 0pt 5.4pt; overflow: hidden; overflow-wrap: break-word; border: solid #000000 1pt;">
                    <p dir="" style="line-height: 1.2; text-align: center; margin-top: 0pt; margin-bottom: 0pt;"><b>حالة
                        العنصر</b></p></td>
                <td dir="ltr"
                    style="vertical-align: top; background-color: #d0cece; padding: 0pt 5.4pt 0pt 5.4pt; overflow: hidden; overflow-wrap: break-word; border: solid #000000 1pt;">
                    <p dir="ltr" style="line-height: 1.2; text-align: center; margin-top: 0pt; margin-bottom: 0pt;"><b>%
                        سيتم خصمها من سعر التجزئة الموصى به</b></p></td>
            </tr>
            <tr style="height: 0pt;">
                <td dir="ltr"
                    style="vertical-align: top; padding: 0pt 5.4pt 0pt 5.4pt; overflow: hidden; overflow-wrap: break-word; border: solid #000000 1pt;">
                    <p dir="" style="line-height: 1.2; text-align: center; margin-top: 0pt; margin-bottom: 0pt;"><span
                            style="font-size: 12pt; font-family: 'Simplified Arabic'; color: #000000; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">جديد، بما في ذلك الصندوق ووثائق التحقق</span>
                    </p></td>
                <td dir="ltr"
                    style="vertical-align: top; padding: 0pt 5.4pt 0pt 5.4pt; overflow: hidden; overflow-wrap: break-word; border: solid #000000 1pt;">
                    <p dir="ltr" style="line-height: 1.2; text-align: center; margin-top: 0pt; margin-bottom: 0pt;">
                        <span style="font-size: 12pt; font-family: 'Simplified Arabic'; color: #000000; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">30%</span>
                    </p></td>
            </tr>
            <tr style="height: 0pt;">
                <td dir="ltr"
                    style="vertical-align: top; padding: 0pt 5.4pt 0pt 5.4pt; overflow: hidden; overflow-wrap: break-word; border: solid #000000 1pt;">
                    <p dir="" style="line-height: 1.2; text-align: center; margin-top: 0pt; margin-bottom: 0pt;"><span
                            style="font-size: 12pt; font-family: 'Simplified Arabic'; color: #000000; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">علامة تجارية جديدة بدون وثائق التحقق.</span>
                    </p></td>
                <td dir="ltr"
                    style="vertical-align: top; padding: 0pt 5.4pt 0pt 5.4pt; overflow: hidden; overflow-wrap: break-word; border: solid #000000 1pt;">
                    <p dir="ltr" style="line-height: 1.2; text-align: center; margin-top: 0pt; margin-bottom: 0pt;">
                        <span style="font-size: 10pt; font-family: 'Simplified Arabic'; color: #000000; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">40%</span>
                    </p></td>
            </tr>
            <tr style="height: 0pt;">
                <td dir="ltr"
                    style="vertical-align: top; padding: 0pt 5.4pt 0pt 5.4pt; overflow: hidden; overflow-wrap: break-word; border: solid #000000 1pt;">
                    <p dir="" style="line-height: 1.2; text-align: center; margin-top: 0pt; margin-bottom: 0pt;"><span
                            style="font-size: 12pt; font-family: 'Simplified Arabic'; color: #000000; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">تم ارتداؤه برفق مع وجود وثائق التحقق.</span>
                    </p></td>
                <td dir="ltr"
                    style="vertical-align: top; padding: 0pt 5.4pt 0pt 5.4pt; overflow: hidden; overflow-wrap: break-word; border: solid #000000 1pt;">
                    <p dir="ltr" style="line-height: 1.2; text-align: center; margin-top: 0pt; margin-bottom: 0pt;">
                        <span style="font-size: 10pt; font-family: 'Simplified Arabic'; color: #000000; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">45%</span>
                    </p></td>
            </tr>
            <tr style="height: 0pt;">
                <td dir="ltr"
                    style="vertical-align: top; padding: 0pt 5.4pt 0pt 5.4pt; overflow: hidden; overflow-wrap: break-word; border: solid #000000 1pt;">
                    <p dir="" style="line-height: 1.2; text-align: center; margin-top: 0pt; margin-bottom: 0pt;"><span
                            style="font-size: 12pt; font-family: 'Simplified Arabic'; color: #000000; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">تم ارتداؤه برفق مع عدم وجود خدوش ملحوظة.</span>
                    </p></td>
                <td dir="ltr"
                    style="vertical-align: top; padding: 0pt 5.4pt 0pt 5.4pt; overflow: hidden; overflow-wrap: break-word; border: solid #000000 1pt;">
                    <p dir="ltr" style="line-height: 1.2; text-align: center; margin-top: 0pt; margin-bottom: 0pt;">
                        <span style="font-size: 10pt; font-family: 'Simplified Arabic'; color: #000000; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">50%</span>
                    </p></td>
            </tr>
            <tr style="height: 0pt;">
                <td dir="ltr"
                    style="vertical-align: top; padding: 0pt 5.4pt 0pt 5.4pt; overflow: hidden; overflow-wrap: break-word; border: solid #000000 1pt;">
                    <p dir="" style="line-height: 1.2; text-align: center; margin-top: 0pt; margin-bottom: 0pt;"><span
                            style="font-size: 12pt; font-family: 'Simplified Arabic'; color: #000000; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">تم ارتداؤه مع وجود بعض الخدوش</span>
                    </p></td>
                <td dir="ltr"
                    style="vertical-align: top; padding: 0pt 5.4pt 0pt 5.4pt; overflow: hidden; overflow-wrap: break-word; border: solid #000000 1pt;">
                    <p dir="ltr" style="line-height: 1.2; text-align: center; margin-top: 0pt; margin-bottom: 0pt;">
                        <span style="font-size: 10pt; font-family: 'Simplified Arabic'; color: #000000; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">60%-80%</span>
                    </p></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="termssandcondition">
    <p style="text-align: right;">&nbsp;</p>
    <p style="text-align: right;"><b class="countryy">(4) طريقة الدفع</b>
        يتم تسديد جميع المدفوعات من خلال تحويل الأموال (التحويل المصرفي) إلى الحسابات المصرفية المقدمة من كل طرف. على
        موقعنا الإلكتروني، نقبل الدفع ببطاقات الائتمان الرئيسية بالإضافة إلى باي بال</p>
    <p style="text-align: right;"><b class="countryy">(5) تحديد المسؤولية<br></b>يفهم البائعون ويوافقون صراحةً على أن
        AMUSEDCO لن تكون مسؤولة عن أي أضرار مباشرة أو غير مباشرة أو عرضية أو خاصة أو تبعية أو نموذجية بما في ذلك -على
        سبيل المثال لا الحصر- التسعير غير الدقيق بسبب خطأ بشري أو خطأ تقني أو خلل عيوب في البرامج وما إلى ذلك، فضلاً عن
        الأضرار الناتجة عن خسارة الأرباح أو السمعة الطيبة أو الاستخدام أو البيانات أو الخسائر غير الملموسة الأخرى
        الناتجة عن استخدام الحساب أو أي خدمات ذات صلة.&nbsp;</p>
    <p style="text-align: right;"><b class="countryy">(6) الأصالة<br></b></p>
    <ol style="text-align: right;">
        <li style="font-weight: 400;"><span style="font-weight: 400;">
         	يتم فحص كل عنصر للتأكد من جودته ونقائه وأصالته من قبل AMUSEDCO وشركائها الاستشاريين. يلتزم البائعون بموجب عقد بتقديم عنصر (عناصر) أصلية، وإلا سيواجهون عواقب إذا كان الأمر خلاف ذلك.</span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">
          	يضمن البائع أنه/ أنها سيرد كامل المبلغ إلى AMUSEDCO (استرداد الأموال) في حالة ما تبين أن العنصر (العناصر) غير أصلية لكي تقوم AMUSEDCO بدفع المبلغ المسترد إلى المشتري.</span>
        </li>
    </ol>
    <p style="text-align: right;"><b class="countryy">(7) التعويض<br></b>
        يوافق البائع على تعويض AMUSEDCO وإعفائها من أي مطالبة أو طلب، بما في ذلك أتعاب المحاماة المعقولة، أو الناشئة عن
        أو المتعلقة بانتهاك البائع لهذه الشروط والأحكام، أو انتهاك أي قانون أو حقوق لطرف ثالث.</p>
    <p style="text-align: right;"><b class="countryy">(ب) المشترون</b></p>
    <p style="text-align: right;"><b class="countryy">(1) عملية الشراء<br></b></p>
    <ol style="text-align: right;">
        <li style="font-weight: 400;"><span style="font-weight: 400;">
           	يجوز للمشتري -عند الاطلاع على العنصر (العناصر) من خلال الحساب- الاتصال بـ AMUSEDCO من خلال موقعنا على الإنترنت</span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">
          	جميع الصور الخاصة بالعنصر (العناصر) متوفرة في الحساب، ويتعين على AMUSEDCO الإفصاح عن جميع الفواتير أو شهادات الأصالة وأي معلومات أخرى غير موصوفة في الحساب فيما يتعلق بالعنصر (العناصر) إلى المشتري قبل أي عملية بيع</span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">
            	جميع الصور الخاصة بالعنصر (العناصر) متوفرة في الحساب، ويتعين على AMUSEDCO الإفصاح عن جميع الفواتير أو شهادات الأصالة وأي معلومات أخرى غير موصوفة في الحساب فيما يتعلق بالعنصر (العناصر) إلى المشتري قبل أي عملية بيع</span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">
           	بمجرد استلام AMUSEDCO للمبلغ بالكامل، سيتم نقل ملكية العنصر (العناصر) إلى المشتري.</span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">
           	AMUSEDCO مسؤولة عن ضمان تسليم العنصر (العناصر) إلى المشتري خالية من أي عيوب بخلاف العيوب وعناصر الخلل التي سبق ذكرها وتم توضيحها للمشتري قبل عملية الشراء.</span>
        </li>
    </ol>
    <p style="text-align: right;"><b class="countryy">(2) تسليم العنصر<br></b></p>
    <ol style="text-align: right;">
        <li style="font-weight: 400;">
            <b></b><span style="font-weight: 400;">
           	ترسل AMUSEDCO العنصر (العناصر) إلى المشتري في غضون (7) أيام عمل بمجرد استلام مبلغ الدفع بالكامل. سيخضع التسليم لرسوم إضافية وسيعتمد التوقيت على الشريك اللوجستي.</span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">	سيقوم شريكنا اللوجستي بالاتصال بالمشتري بعد استلام AMUSEDCO للمبلغ بالكامل.</span>
        </li>
    </ol>
    <p style="text-align: right;"><b class="countryy">&nbsp;(3) سعر الشراء والدفع<br></b></p>
    <ol style="text-align: right;">
        <li style="font-weight: 400;"><span style="font-weight: 400;">
          	المبالغ المدفوعة إلى AMUSEDCO نهائية وغير قابلة للاسترداد، والأسعار قياسية. وبالنسبة لعملية الإرجاع، يُرجى استعراض الأسئلة الشائعة للحصول على مزيد من المعلومات</span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">
            	قد يخضع العنصر (العناصر) للمبيعات أو العروض الموسمية وفقًا لتقدير AMUSEDCO. ومع ذلك، فإن أي تحديثات تتعلق بالمبيعات ستكون متاحة على الحساب وليست حصرية لأي من المشترين.</span>
        </li>
    </ol>
    <p style="text-align: right;"><b class="countryy">&nbsp;(4) طريقة الدفع<br></b></p>
    <p style="text-align: right;"><span style="font-weight: 400;">جميع المدفوعات التي تُدفع للبائعين ستتم عن طريق التحويلات المصرفية.</span>&nbsp;
    </p>
    <p style="text-align: right;"><b class="countryy">(5) تحديد المسؤولية<br></b></p>
    <p style="text-align: right;"><span style="font-weight: 400;">
     يفهم المشتري ويوافق صراحةً على أن AMUSEDCO لن تكون مسؤولة عن أي أضرار مباشرة أو غير مباشرة أو عرضية أو خاصة أو تبعية أو نموذجية بما في ذلك -على سبيل المثال لا الحصر- التسعير غير الدقيق بسبب خطأ بشري أو خطأ تقني أو خلل عيوب في البرامج وما إلى ذلك، فضلاً عن الأضرار الناتجة عن خسارة الأرباح أو السمعة الطيبة أو الاستخدام أو البيانات أو الخسائر غير الملموسة الأخرى الناتجة عن استخدام الحساب أو أي خدمات ذات صلة</span>

    </p>
    <p style="text-align: right;"><b class="countryy">(6) الأصالة<br></b>
        تتحقق AMUSEDCO من أنها قد اتخذت جميع الإجراءات اللازمة للتأكد من أن العنصر (العناصر) أصلية وخالية من أي عيوب أو
        أضرار غير مذكورة. وفي حالة إثبات المشتري أن العنصر (العناصر) المشتراة غير أصلية، يحق له استرداد كامل المبلغ
        المدفوع خلال (14) يوم عمل بعد تسليم العنصر (العناصر) إلى عنوان AMUSEDCO.</p>
    <p style="text-align: right;"><b class="countryy">&nbsp;(7) التعويض<br></b>
        يوافق المشتري على تعويض AMUSEDCO وإعفائها من أي مطالبة أو طلب، بما في ذلك أتعاب المحاماة المعقولة، أو الناشئة عن
        أو المتعلقة بانتهاك المشتري لهذه الشروط والأحكام، أو انتهاك أي قانون أو حقوق لطرف ثالث</p>
    <p style="text-align: right;"><b class="countryy">(ج) عام</b></p>
    <p style="text-align: right;"><b class="countryy">(1) العلامات التجارية<br></b></p>
    <ol style="text-align: right;">
        <li style="font-weight: 400;">
            <span style="font-weight: 400;">
               	العلامات التجارية والشعارات وعلامات الخدمة ("العلامات") المعروضة على الحساب هي ملك لـ AMUSED. يُحظر على المستخدمين استخدام أي علامات لأي غرض دون الحصول على إذن كتابي من AMUSED. جميع المعلومات والمحتويات المتوفرة في الحساب أو من خلاله ("المحتوى") محمية بموجب حقوق النشر. يُحظر على المستخدمين تعديل أو نسخ أو توزيع أو نقل أو عرض أو نشر أو بيع أو ترخيص أو إنشاء أعمال مشتقة أو استخدام أي محتوى متاح على الحساب أو من خلاله لأغراض تجارية أو عامة
            </span></li>
        <li style="font-weight: 400;">
            <span style="font-weight: 400;">
لا ترتبط AMUSED بالعلامات التجارية التي تبيعها، فهي علامة تجارية مسجلة لمالكي العلامات التجارية المعنية وليست لـ AMUSED.            </span>
        </li>
    </ol>
    <p style="text-align: right;"><b class="countryy">(2) القوة القاهرة<br></b></p>
    <ol style="text-align: right;">
        <li style="font-weight: 400;">
            <span style="font-weight: 400;">''</span><b>	"حدث القوة القاهرة" </b><span style="font-weight: 400;">
           يُقصد به حدث خارج نطاق السيطرة المعقولة للطرف المتضرر، بما في ذلك أي فعل من الله أو مرض أو حرب أو شغب أو اضطراب مدني أو إرهاب أو حكومة أو ضرر خبيث أو حادث أو حريق أو فيضان أو عاصفة</span>
        </li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">	إذا تم منع أحد الأطراف أو إعاقته أو تأخيره عن أو في أداء أي من التزاماته بموجب عقد البيع/ الشراء (بخلاف التزام الدفع) بسبب حدث بفعل قوة قاهرة:</span></li>
        <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">	يتم تعليق التزامات الطرف بموجب عقد البيع/ الشراء أثناء استمرار حدث القوة القاهرة وإلى الحد الذي يتم فيه منعه أو إعاقته أو تأخيره</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">	في أقرب وقت ممكن وبشكل معقول بعد بدء حدث القوة القاهرة، يجب على الطرف المتضرر إخطار الطرف الآخر كتابيًا بحدث القوة القاهرة، وتاريخ بدء حدث القوة القاهرة وتأثيرات حدث القوة القاهرة على قدرته على الوفاء بالتزاماته بموجب عقد البيع/ الشراء.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">		يجب على الطرف المتضرر استخدام مساعيه المعقولة للتخفيف من آثار حدث القوة القاهرة على الوفاء بالتزاماته بموجب عقد البيع/ الشراء.
            </span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">
	وفي أقرب وقت ممكن وبشكل معقول بعد انتهاء حدث القوة القاهرة، يجب على الطرف المتضرر إخطار الطرف الآخر كتابيًا بأن حدث القوة القاهرة قد انتهى وأنه سيستأنف الوفاء بالتزاماته بموجب عقد البيع/ الشراء.            </span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">	إذا استمر حدث القوة القاهرة بلا هوادة لأكثر من شهرين ابتداءً من يوم بدء حدث القوة القاهرة، يجوز لأي من الطرفين إنهاء عقد البيع/ الشراء من خلال تقديم إشعار كتابي إلى الطرف الآخر قبل (15) من ذلك يومًا
            </span></li>
        </ol>
    </ol>
    <p style="text-align: right;"><b class="countryy">(3) السرية<br></b></p>
    <ol style="text-align: right;">
        <li style="font-weight: 400;"><span style="font-weight: 400;">
	يُقصد بـ "المعلومات السرية" جميع المعلومات السرية التي تم الكشف عنها (سواء كتابيًا أو إلكترونيًا أو شفهيًا أو بوسائل أخرى سواء بشكل مباشر أو غير مباشر) من جانب أحد الطرفين للطرف الآخر -عقب تاريخ توقيع الاتفاقية- بما في ذلك المعلومات المتعلقة بالمنتجات، أسماء العملاء أو معلوماتهم، جهات الاتصال، العمليات، قوائم الأسعار، المواصفات، الخطط أو النوايا، معلومات المنتجات، الدراية الفنية، حقوق التصميم، الأسرار التجارية، فرص السوق والشؤون التجارية للشخص الذي يقوم بالإفصاح أو أي عضو في مجموعة أو أي من المقاولين من الباطن أو الموردين أو العملاء أو الزبائن أو جهات أخرى.        </span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">
           	لا يجوز استخدام المعلومات السرية لأي غرض غير الوفاء بالالتزامات بموجب عقد البيع/ الشراء.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">
           	لا يجوز الكشف عن المعلومات السرية لأي شخص إلا بموافقة خطية مُسبقة.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">
           	لا تتضمن المعلومات السرية أي معلومات معروفة أو متاحة للجمهور من قبل أي من الطرفين قبل أو أثناء عقد البيع/ الشراء.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">
        	بما لا يتعارض مع الأحكام المذكورة أعلاه، يجوز الكشف عن المعلومات السرية المتعلقة بأي طرف للسلطة ذات الصلة وفقًا للقانون إذا ثبت أن أي من الطرفين يبيع عن طيب خاطر عناصر مزورة أو مسروقة.</span></li>
    </ol>
    <p style="text-align: right;"><b class="countryy">(4) حقوق الطرف الثالث</b> <span style="font-weight: 400;">
      لا يحق لأي شخص ليس طرفًا في عقد البيع/ الشراء أن ينفذ أي حكم من أحكام العقود.</span></p>
    <p style="text-align: right;"><b class="countryy">(5) القانون الحاكم والاختصاص القضائي<br></b></p>
    <ol style="text-align: right;">
        <li style="font-weight: 400;"><span style="font-weight: 400;">
           	تخضع هذه الشروط والأحكام وجميع المسائل الناشئة عنها أو المرتبطة بها لقوانين المملكة العربية السعودية.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">
            	تتمتع المحكمة المختصة أو اللجنة القضائية في المملكة العربية السعودية بالاختصاص الحصري لتسوية أي نزاع ينشأ عن أو يرتبط بهذه الشروط والأحكام.</span></li>
    </ol>
    يتم دعم الشحنات من قبل شريكنا اللوجستي الدولي شركة DHL.<br>
    يتم الشحن في غضون 24 ساعة من إتمام الشراء.<br>
    سيتلقى المشترون تفاصيل التتبع بمجرد شحن العنصر عبر البريد الإلكتروني.<br>
    يتم احتساب رسوم الشحن عند خروج العنصر

</div>
</body>
</html>